{% extends "main.html" %}

{% block title %}List of posts{% endblock %}

{% block content %}
    <p><a href="{% url 'index' %}">Go to main page</a></p>
        <div>
            <h1>List of posts:</h1>
        </div>
        <table>
            <caption><h2>Posts</h2></caption>
            <tr>
                <th>Author</th>
                <th>Title</th>
                <th>Brief description</th>
                <th>Image</th>
                <th>Full description</th>
                <th>Posted</th>
            </tr>
            {% for post in page_obj %}
                    <td><a href="{% url 'user_detail' post.author.id %}" >{{ post.author }}</a></td>
                    <td><a href="{% url 'post_detail' post.id %}">{{ post.title }}</a></td>
                    <td>{{ post.brief_description }}</td>
                    <td>{% if post.image %}
                            <img src="{{ post.image.url }}" width="50%" alt="...">
                        {% else %}{% endif %}</td>
                    <td>{{ book.full_description }}</td>
                    <td>{{ book.posted }}</td>
                </tr>
            {% endfor %}
        </table>

<div class="pagination">
    <span class="step-links">
        {% if page_obj.has_previous %}
            <a href="?page=1">&laquo; first</a>
            <a href="?page={{ page_obj.previous_page_number }}">previous</a>
        {% endif %}

        <span class="current">
            Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
        </span>

        {% if page_obj.has_next %}
            <a href="?page={{ page_obj.next_page_number }}">next</a>
            <a href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
        {% endif %}
    </span>
</div>
{% endblock %}